@page "/SearchmedBlazorDemo"
@inject NavigationManager _navigationManager

<PageTitle>@Title</PageTitle>
<HeadContent>
    <meta name="description" content="@Description" />
    <meta property="og:title" content="@Title" />
    <meta property="og:description" content="@Description" />
    <meta property="og:image" content="@ImageUrl" />
    <meta name="twitter:title" content="@Title" />
    <meta name="twitter:description" content="@Description" />
    <meta name="twitter:image" content="@ImageUrl" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@(_navigationManager.Uri)" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="@(_navigationManager.Uri)" />
</HeadContent>

<div class="flex justify-center my-4">
    <a href="https://iacm.visualstudio.com/_git/Searchmed%20Blazor?_a=history" target="_blank" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        View Repo History
    </a>
</div>
@if (IsProcessing)
{
    <div class="text-center">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </div>
}
else
{
    <div>
        <video class="w-full" controls>
            <source src="img/clientdemo/SearchmedDemo1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
}



@code {
    public bool IsProcessing { get; set; } = false;
    private string Title = "MySearchmedBlazorDemo.LightningBits.net";
    private string Description =
        "Explore the power of C# and .NET Blazor" +
        "Building web applications with Blazor and its powerful features.";
    private string ImageUrl = "/img/Matrixlaptop.png";

}

