
<AuthorizeView Roles="@roleAdmin">
    <Authorized>
        <MudDrawer @bind-Open="SideBarOpen" Elevation="10">
               <div class="flex items-center p-4">
        <img class="logo h-16 w-20 lg:h-20 lg:w-32 mr-2" src="/img/search-med-logo.png" />
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Menu</MudText>
        </MudDrawerHeader>
    </div>
            <MudDivider DividerType="DividerType.Middle" Class="my-2" />
            <MudNavMenu>
                <MudNavGroup Title="Settings" Expanded="false" Color="Color.Dark">
                    <MudNavLink Href="/Identity/Account/Manage" Icon="@Icons.Filled.Settings" Match="NavLinkMatch.Prefix">Profile settings</MudNavLink>
                </MudNavGroup>
                <MudDivider DividerType="DividerType.Middle" Class="my-2" />
                <MudNavGroup Title="Blog Manager" Expanded="false" Color="Color.Dark">
                    <MudNavLink Href="/BlogList" Match="NavLinkMatch.Prefix">Blog List</MudNavLink>
                    <MudNavLink Href="/BlogCatList" Match="NavLinkMatch.Prefix">Blog Category</MudNavLink>
                    <MudNavLink Href="/BlogCatList/create" Match="NavLinkMatch.Prefix">Blog Cat Create</MudNavLink>
                    <MudNavLink Href="/BlogCreate" Match="NavLinkMatch.Prefix">Create Blog</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="Product Management" Expanded="false" Color="Color.Dark">
                    <MudNavLink Href="/categoryList" Match="NavLinkMatch.Prefix">Category List</MudNavLink>
                    <MudNavLink Href="/categoryLIST/create" Match="NavLinkMatch.Prefix">Create Category</MudNavLink>
                    <MudNavLink Href="/productList" Match="NavLinkMatch.Prefix">Product List</MudNavLink>
                    <MudNavLink Href="/ProductCreate" Match="NavLinkMatch.Prefix">Edit Product</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="ToDoApp" Expanded="false" Color="Color.Dark">
                    <MudNavLink Href="/TodoList" Match="NavLinkMatch.Prefix">ToDo List</MudNavLink>
                    <MudNavLink Href="/ToDo/create" Match="NavLinkMatch.Prefix">Create ToDo</MudNavLink>
                </MudNavGroup>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                <MudNavGroup Title="Return to client" Expanded="false" Color="Color.Dark">
                    <MudNavLink Href="/" Match="NavLinkMatch.All"></MudNavLink>
                    <MudNavLink Href="https://lightningbits.net/" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.Prefix">Home</MudNavLink>
                    <MudNavGroup Title="My Blog" Expanded="false" Color="Color.Dark">
                        <MudNavLink Href="@($"{Constants.MyBlogHost}/BlogViewHome")" Icon="@Icons.Material.Filled.ReadMore" Match="NavLinkMatch.Prefix">Read Me</MudNavLink>
                    </MudNavGroup>
                    <MudNavGroup Title="My Store" Expanded="false" Color="Color.Dark">
                        <MudNavLink Href="@($"{Constants.MyBlogHost}/services")" Icon="@Icons.Material.Filled.ShoppingBag" Match="NavLinkMatch.Prefix">Software Services</MudNavLink>
                        <MudNavGroup Title="My Demo Shops" Expanded="false" Color="Color.Dark">
                            @*<MudNavLink Href="@($"{Constants.MyStoreHost}/thriftboss")" Icon="@Icons.Material.Filled.ShoppingBag" Match="NavLinkMatch.Prefix">Demo-ThriftBoss</MudNavLink>
                <MudNavLink Href="@($"{Constants.MyStoreHost}/serverpreview")" Icon="@Icons.Material.Filled.Dashboard" Match="NavLinkMatch.Prefix">Demo-AdminView</MudNavLink>*@
                        </MudNavGroup>
                    </MudNavGroup>
                    <MudNavGroup Title="My Portfolio" Expanded="false" Color="Color.Dark">
                        <MudNavLink Href="/portfolio" Icon="@Icons.Material.Filled.ReadMore" Match="NavLinkMatch.Prefix">About Me</MudNavLink>
                    </MudNavGroup>
                    <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                    <MudNavLink Href="/contact" Icon="@Icons.Material.Filled.ContactPage" Match="NavLinkMatch.Prefix" Style="text-align">Contact me</MudNavLink>
                </MudNavGroup>
            </MudNavMenu>
        </MudDrawer>
    </Authorized>
    <NotAuthorized>
        <MudDrawer @bind-Open="SideBarOpen" Elevation="10">
            <MudDrawerHeader>
                <MudText Typo="Typo.h5" Color="Color.Default" Style="margin-top:15px; margin-left:5px;">LightningBits.net</MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                <MudNavLink Href="/" Match="NavLinkMatch.All"></MudNavLink>
                <MudNavLink Href="@($"{Constants.RootHost}/")" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.Prefix">Home</MudNavLink>
                <MudNavGroup Title="My Blog" Expanded="false" Color="Color.Dark">
                    <MudNavLink Href="@($"{Constants.MyBlogHost}/BlogViewHome")" Icon="@Icons.Material.Filled.ReadMore" Match="NavLinkMatch.Prefix">Read Me</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Title="My Store" Expanded="false" Color="Color.Dark">
                    <MudNavLink Href="@($"{Constants.MyStoreHost}/services")" Icon="@Icons.Material.Filled.HomeMini" Match="NavLinkMatch.Prefix">MyStore Home</MudNavLink>
                    <MudNavLink Href="@($"{Constants.MyStoreHost}/services")" Icon="@Icons.Material.Filled.ShoppingBag" Match="NavLinkMatch.Prefix">Software Services</MudNavLink>
                    <MudNavGroup Title="My Demo Shops" Expanded="false" Color="Color.Dark">
                        @*<MudNavLink Href="@($"{Constants.MyStoreHost}/thriftboss")" Icon="@Icons.Material.Filled.ShoppingBag" Match="NavLinkMatch.Prefix">Demo-ThriftBoss</MudNavLink>
                <MudNavLink Href="@($"{Constants.MyStoreHost}/serverpreview")" Icon="@Icons.Material.Filled.Dashboard" Match="NavLinkMatch.Prefix">Demo-AdminView</MudNavLink>*@
                    </MudNavGroup>
                </MudNavGroup>
                <MudNavGroup Title="My Portfolio" Expanded="false" Color="Color.Dark">
                    <MudNavLink Href="/portfolio" Icon="@Icons.Material.Filled.ReadMore" Match="NavLinkMatch.Prefix">About Me</MudNavLink>
                </MudNavGroup>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" />
                <MudNavLink Href="/contact" Icon="@Icons.Material.Filled.ContactPage" Match="NavLinkMatch.Prefix" Style="text-align">Contact me</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
    </NotAuthorized>

    
</AuthorizeView>



@code {
    [Parameter]
    public bool SideBarOpen { get; set; } = false;
    private string roleAdmin = SharedServices.Commons.SD.Role_Admin;
}