<MudDrawer @bind-Open="SideBarOpen" Elevation="10">
    <div class="flex items-center p-4">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Menu</MudText>
        </MudDrawerHeader>
    </div>
    <MudDivider DividerType="DividerType.Middle" Class="my-2" />

    <AuthorizeView Roles="@SD.Role_Admin">
        <MudNavGroup Title="Client Manager" Expanded="false" Color="Color.Dark">
            <MudNavLink Href="/ClientList" Match="NavLinkMatch.Prefix">Client List</MudNavLink>
            <MudNavLink Href="/Clientcreate" Match="NavLinkMatch.Prefix">Create Client</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Blog Manager" Expanded="false" Color="Color.Dark">
            <MudNavLink Href="/BlogList" Match="NavLinkMatch.Prefix">Blog List</MudNavLink>
            <MudNavLink Href="/BlogCatList" Match="NavLinkMatch.Prefix">Blog Category</MudNavLink>
            <MudNavLink Href="/BlogCatList/create" Match="NavLinkMatch.Prefix">Blog Cat Create</MudNavLink>
            <MudNavLink Href="/BlogCreate" Match="NavLinkMatch.Prefix">Create Blog</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Product Management" Expanded="false" Color="Color.Dark">
            <MudNavLink Href="/categoryList" Match="NavLinkMatch.Prefix">Category List</MudNavLink>
            <MudNavLink Href="/categoryLIST/create" Match="NavLinkMatch.Prefix">Create Category</MudNavLink>
            <MudNavLink Href="/productList" Match="NavLinkMatch.Prefix">Product List</MudNavLink>
            <MudNavLink Href="/ProductCreate" Match="NavLinkMatch.Prefix">Edit Product</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="ToDoApp" Expanded="false" Color="Color.Dark">
            <MudNavLink Href="/TodoList" Match="NavLinkMatch.Prefix">ToDo List</MudNavLink>
            <MudNavLink Href="/ToDo/create" Match="NavLinkMatch.Prefix">Create ToDo</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="MY AI" Expanded="false" Color="Color.Dark">
            <MudNavLink Href="/mychat" Icon="@Icons.Filled.Chat" Match="NavLinkMatch.Prefix">My Chats</MudNavLink>
            <MudNavLink Href="#" Icon="@Icons.Filled.Favorite" Match="NavLinkMatch.Prefix">Favorites(Coming soon!)</MudNavLink>
            <MudNavLink Href="#" Icon="@Icons.Filled.SettingsApplications" Match="NavLinkMatch.Prefix">settings(Coming soon!)</MudNavLink>
            <MudNavLink Href="#" Icon="@Icons.Filled.Feedback" Match="NavLinkMatch.Prefix">FeedBack(ComingSoon!)</MudNavLink>
        </MudNavGroup>
        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        <MudNavLink Href="/Identity/Account/Manage" Icon="@Icons.Filled.Settings" Match="NavLinkMatch.Prefix">Profile settings</MudNavLink>
        <MudNavLink Href="/Identity/Account/login" Icon="@Icons.Filled.AppRegistration" Match="NavLinkMatch.Prefix">Register new User</MudNavLink>
    </AuthorizeView>


    <AuthorizeView Roles="@SD.Role_LightningChats">
        <MudNavLink Href="/chat" Icon="@Icons.Filled.Chat" Match="NavLinkMatch.Prefix">My AI</MudNavLink>
        <MudNavLink Href="#" Icon="@Icons.Filled.Favorite" Match="NavLinkMatch.Prefix">Favorites(Coming soon!)</MudNavLink>
        <MudNavLink Href="#" Icon="@Icons.Filled.SettingsApplications" Match="NavLinkMatch.Prefix">settings(Coming soon!)</MudNavLink>
        <MudNavLink Href="#" Icon="@Icons.Filled.Feedback" Match="NavLinkMatch.Prefix">FeedBack(ComingSoon!)</MudNavLink>
        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        <MudNavLink Href="/Identity/Account/Manage" Icon="@Icons.Filled.Settings" Match="NavLinkMatch.Prefix">Profile settings</MudNavLink>
    </AuthorizeView>

</MudDrawer>





@code {
    [Parameter]
    public bool SideBarOpen { get; set; } = true;

    private static class SD
        {
            public const string Role_Admin = "Admin";
            public const string Role_LightningChats = "LightningChats";

        }
}
