@page "/valleymisfit"
@inject NavigationManager _navigationManager

<HeadContent>
    <meta name="description" content="@Description" />
    <meta property="og:title" content="@Title" />
    <meta property="og:description" content="@Description" />
    <meta property="og:image" content="@ImageUrl" />
    <meta name="twitter:title" content="@Title" />
    <meta name="twitter:description" content="@Description" />
    <meta name="twitter:image" content="@ImageUrl" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@(_navigationManager.Uri)" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="@(_navigationManager.Uri)" />
</HeadContent>

<PageTitle>Vally Misfit</PageTitle>


<div x-data="{showMenu: false}" class="h-24 z-40 relative container mx-auto px-6 flex items-center justify-between text-white">
</div>

<div x-data="slideshowValleyMisfit()" x-init="init()" class="-mt-32 relative w-full h-screen flex items-center justify-center">
    <div class="relative z-10 text-center text-white px-4 sm:px-6 md:px-8">
        @if (showTitle)
        {
            <h1 class="text-4xl sm:text-5xl md:text-6xl font-display font-semibold mt-2 animate__animated animate__slideInRight duration-500">
                ValleyMisfit.com
            </h1>
        }
        <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 mt-6 px-4 sm:px-0">
            @if (showContent)
            {
                <a href="#" class="inline-block bg-indigo-500 text-white text-sm tracking-widest font-heading px-6 py-3 sm:px-8 sm:py-4" aria-label="Coming">Coming</a>
                <a href="#" class="inline-block bg-gray-100 text-indigo-500 text-sm tracking-widest font-heading px-6 py-3 sm:px-8 sm:py-4" aria-label="Soon!">Soon!</a>
            }
        </div>
        <p class="mt-10 text-lg sm:text-xl">Rocking the Valley</p>
    </div>
    <img x-bind:src="images[current]" alt="LightningBits.com image" class="w-full h-full absolute inset-0 object-cover opacity-95">
</div>

@code {
    private string Title = "";
    private string Description = "";
    private string ImageUrl = "";

    @code {
        private bool showContent = false;
        private bool showTitle = false;
        private bool hasInitialized = false;

        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender && !hasInitialized)
            {
                await Task.Delay(1000);
                showContent = true;
                showTitle = true;
                hasInitialized = true;
                StateHasChanged();
            }
        }

        public void Dispose()
        {
            hasInitialized = false;
        }

    }

}
