@page "/About"
@page "/Portfolio"
@inject IProductService _productService
@inject MudBlazor.ISnackbar snackBar

<PageTitle>My Portfolio</PageTitle>
@*@snackBar.Add("I have a solid background in C# and .NET Core, and I am willing to adapt to any additional technologies required for the role. I pride myself on being a quick learner with a strong drive to continuously enhance my skills.", Severity.Success);*@

@*<div class="w-full h-screen relative text-white">
    <img src="https://images.unsplash.com/photo-1506452819137-0422416856b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3173&q=80" class="absolute top-0 left-0 w-full h-full object-cover" />
    <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center text-center px-12">
        <div>
            <h2 class="text-3xl font-bold md:text-6xl leading-tight mb-16 animate__animated animate__slideInLeft duration-500">($"Hello</h2>
            <h2 class="text-3xl font-bold md:text-6xl leading-tight mb-16 animate__animated animate__slideInRight duration-500">{World}!");</h2>
        </div>
    </div>
</div>*@

<!-- /Introduction -->
<div class="py-24 px-6">
    <div class="max-w-6xl mx-auto mb-12">
        <h1 class="mx-auto text-center text-2xl md:text-5xl max-w-3xl leading-tight mb-12">Professional Full Stack .NET Developer Committed to Creating User-Friendly Websites.</h1>
        <p class="mb-6 mx-auto max-w-xlg text-center text-lg leading-relaxed">
            <strong>Welcome to my portfolio!</strong> My name is LightningBits and I am a full stack .NET developer specializing in web design.
            I have a passion for creating intuitive and visually appealing websites that provide a seamless user experience.
            As a full stack .NET junior developer with a focus on web design, I am passionate about creating visually appealing and user-friendly websites.
            My expertise in .NET, C#, HTML, CSS, and frameworks such as ASP.NET core allow me to create dynamic and responsive websites.
            Additionally, my experience in front-end technologies like HTML, CSS, and Blazor allows me to deliver beautiful and functional websites that meet clients' needs. I am detail-oriented, proactive, and constantly stay up-to-date with the latest technologies and best practices. I take pride in delivering high-quality results on time and on budget.
            I would be honored to work with you to bring your vision to life.
        </p>
        <p class="mx-auto max-w-lg text-center leading-relaxed">check out my Repository on <a href="https://github.com/LightningBit/E-Commerce" class="text-indigo-500">GitHub</a></p>
        <p class="mx-auto max-w-lg text-center leading-relaxed">check out <a href="@($"{LocalHost}")" class="text-indigo-500">My Blog</a></p>
        <p class="mx-auto max-w-lg text-center leading-relaxed">check out my SAS <a href="/services" class="text-indigo-500">Store</a></p>
        <p class="mx-auto max-w-lg text-center leading-relaxed">check me out on  <a href="https://www.fiverr.com/s2/5826b93876" class="text-indigo-500">Fivver</a></p>


    </div>
    <!-- /Credentials -->

    <div class="max-w-5xl mx-auto flex flex-wrap items-start">
        <div class="w-full md:w-1/2 p-4 mb-12">
            <img src="https://images.unsplash.com/photo-1510511459019-5dda7724fd87?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="block w-full h-auto mb-12" />
            <a href="@($"{LocalHost}/page/6")" class="block text-2xl  text-center mb-6">Front End</a>
            <p class="mb-6 text-center leading-relaxed text-lg ">
                IAM well-versed in utilizing the latest technologies to bring creative and user-friendly designs to life.
                In my <a href="/ThriftBoss" class="text-indigo-500 ">projects</a>,
                I have demonstrated expertise in C# with Blazor, HTML, and Tailwind CSS to create dynamic and responsive web applications.
                My experience in these technologies has allowed me to create visually appealing interfaces with seamless functionality that provide the best user experience.
                Whether it's a single-page application, a full-featured e-commerce platform with Blog, or a simple portfolio website,
                I have the skills and knowledge to bring your vision to reality.
            </p>
            <a href="https://myblog.lightningbits.net/Page/6" class="block text-indigo-500 text-center">Read more</a>
        </div>
        <div class="w-full md:w-1/2 p-4 mb-12">
            <img src="https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80" class="block w-full h-auto mb-12" />
            <a href="@($"{LocalHost}/page/7")" class="block text-2xl text-center mb-6">Back End</a>
            <p class="mb-6 text-center leading-relaxed text-lg ">
                IAM experienced in developing efficient and secure backend solutions
                that serve as the foundation for modern web applications.
                My technical skills include utilizing Microsoft Identity for authentication and authorization,
                implementing JSON Web Tokens (JWT) for stateless authentication, and using Blazor Server SignalR for secure real-time data transfer.
                Additionally, I employ ASP.NET Core API to effectively serve the front end and SQL databases to manage data storage and retrieval.
                With these tools, I am able to deliver high-performing, scalable and secure back end systems that meet the demands of modern web applications
            </p>
            <a href="#" class="block text-indigo-500 text-center">Read more</a>
        </div>
    </div>
    <!-- /About -->
    <div class="max-w-5xl mx-auto flex flex-wrap justify-center">
        <div class="w-full md:w-1/2 p-4 mb-12">
            <img src="/img/myHeadShot.jpeg" alt="image" class="block w-full h-auto mb-12" />
            <a href="@($"{LocalHost}/page/4")" class="block text-2xl  text-black dark:text-white  text-center mb-6">About</a>
            <p class="mb-6 text-center leading-relaxed text-lg">
                Hello! I am Rafael Morel aka LightningBits, a Junior Software Developer specializing in .NET Core, Blazor, Tailwind CSS, and much more.
                I offer a combination of technical knowledge, real world experience, and a willingness to learn and contribute as part of a software development team.
                As a former union ironworker in New York City, I have built and renovated some of the world’s most iconic structures. When the Covid pandemic brought the construction industry to a halt, I was laid off.
                My wife, a nurse and frontline worker, continued to work while I stayed home with our 4-month-old baby. During this time, I recalled my early interest in coding on a Commodore 64 and 128 and saw the high demand for coding skills in the job market.
                With my infant son on my shoulder, I devoted myself to learning to code and gained new skills. My passion for problem-solving and hands-on experience in construction, provide me with a unique perspective that I bring with me to the tech industry.
                I am eager to join a software company and contribute to the creation of cutting-edge solutions with my diverse skill set and experience. I am dedicated to succeeding, innovating, and staying up to date in this field, making me a valuable asset to any software development team.
            </p>
            <a href="@($"{LocalHost}/page/4")" class="block text-indigo-500 mb-5 text-center">Read more</a>
            <a href="https://www.linkedin.com/in/rafael-morel-1b28aa15a/" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-full">
                Visit my LinkedIn page
            </a>
        </div>
    </div>
</div>
<div class="w-full md:w-1/2 lg:w-1/2 mx-auto">
    @if (IsProcessing)
    {
        <div class="text-center">
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
        </div>
    }
    else
    {
        <MudCarousel Class="mud-width-full" Style="height:250px;" ShowArrows="@arrows" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" ShowBullets="@bullets" TData="object">
            @foreach (var portfolio in ECommerceProducts)
            {
                @if (portfolio.Category.Name == CategoryName)

                {
                    <MudCarouselItem Transition="transition" Color="@Color.Dark">
                        <a href="/ProductDetails/@portfolio.Id">
                            <img src="@portfolio.ImageUrl" class="block w-full h-64 mb-12" />
                        </a>
                    </MudCarouselItem>
                }

            }
        </MudCarousel>
    }
</div>

<_FooterDarkGray></_FooterDarkGray>

@code {
    public bool IsProcessing { get; set; } = false;
    public IEnumerable<ProductDTO> ECommerceProducts { get; set; } = new List<ProductDTO>();
    public string CategoryName { get; set; } = "Portfolio";
    public string LocalHost = "https://myblog.lightningbits.net";

    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;
        ECommerceProducts = await _productService.GetAll();
        IsProcessing = false;
    }

    private bool arrows = true;
    private bool bullets = false;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Fade;

}

