@page "/LandingPage"
@inject NavigationManager _navigationManager

@*<PageTitle>@Title</PageTitle>*@
<HeadContent>
    <meta name="description" content="@Description" />
    <meta property="og:title" content="@Title" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="@ImageUrl" />
    <meta name="twitter:title" content="@Title" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="@ImageUrl" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@(_navigationManager.Uri)" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="@(_navigationManager.Uri)" />
</HeadContent>

<div x-data="{showMenu: false}" class="h-24 z-40 relative container mx-auto px-6 flex items-center justify-between text-white">
</div>
@* Landing image*@
<div x-data="slideshowPort()" x-init="init()" class="-mt-32 relative w-full h-screen flex items-center justify-center">
    <div class="relative z-10 text-center text-white px-6">
        @if (showTitle)
        {

            <h1 class="text-3xl md:text-5xl text-gray-200 font-display font-semibold mt-2 animate__animated animate__slideInRight duration-500">
                LightningBits.net
            </h1>

        }
        <div class="max-w-sm mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
            @if (showContent)
            {
                <a href="/portfolio" aria-label="My Portfolio" class="inline-block bg-gray-200 text-indigo-500 text-sm tracking-widest font-heading rounded-full px-2 py-4 animate__animated animate__bounce animate__slow duration-2s ease-in-out animate__fadeIn animate__animation-delay-7s">My Portfolio</a>
                <a href="@($"{LocalHost}/Home")" aria-label="A Fictional E-commerce store" class="inline-block bg-indigo-500 text-white text-sm tracking-widest font-heading rounded-full rounded-fully px-2 py-4 animate__animated animate__bounce animate__slow duration-2s ease-in-out animate__fadeIn animate__animation-delay-7s">My Blog</a>
            }
        </div>
        <p class="mt-4">Software as a Service</p>
    </div>
    <img x-bind:src="images[current]" class="w-full h-full absolute inset-0 object-cover opacity-95">
</div>
<About></About>

@code {

    private string LocalHost = "https://myblog.lightningbits.net";
    private bool showContent = false;
    private bool showTitle = false;
    private string Title = "LightningBits.net";
    private string Description = "Unleash the power of connection with LightningBits.net, the .NET Core Blazor-powered SaaS platform for eCommerce and Blogs. Showcase your work, grow your self-sovereignty, and join our community today.";
    private string ImageUrl = "/img/lb_logoLight.jpg";

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        showContent = true;
        showTitle = true;
    }
}
