@page "/stefmancia/about"
@inject NavigationManager _navigationManager

<HeadContent>
    <meta name="description" content="@Description" />
    <meta property="og:title" content="@Title" />
    <meta property="og:description" content="@Description" />
    <meta property="og:image" content="@ImageUrl" />
    <meta name="twitter:title" content="@Title" />
    <meta name="twitter:description" content="@Description" />
    <meta name="twitter:image" content="@ImageUrl" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@(_navigationManager.Uri)" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="@(_navigationManager.Uri)" />
</HeadContent>

<PageTitle>About Page</PageTitle>

<div class="bg-white min-h-screen -mt-5 flex justify-center items-center">
    <div class="w-full lg:w-1/2 shadow-2xl">
        <MudCard>
            <MudCardMedia Image="/stefmancia/img/profile.jpg" Height="600" />
            <MudCardContent>
                <div>
                    <h3 class="text-lg lg:text-xl font-bold text-gray-900">Stefania Mancia: Expert Medical Writer</h3>
                    <p class="mt-1 text-md font-medium text-gray-600">Our expert medical writer has decades of experience in the medical field and has dedicated his life to creating publications that are not only insightful, but also easy to understand. He has an extensive background in various medical disciplines, which helps him create comprehensive and detailed content. His mission is to make complex medical topics accessible to both professionals and laypeople</p>
                </div>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More About my Work</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Contact</MudButton>
            </MudCardActions>
        </MudCard>
        <MudButton Color="Color.Dark" Variant="Variant.Text" FullWidth="true" @onclick="@(() => _navigationManager.NavigateTo("/stefmancia"))">Return</MudButton>
    </div>
</div>



@code {
    private string Title = "Stefania Mancia: Expert Medical Writer and Researcher";
    private string Description = "Our expert medical writer has decades of experience in the medical field and has dedicated his life to creating publications that are not only insightful, but also easy to understand. He has an extensive background in various medical disciplines, which helps him create comprehensive and detailed content. His mission is to make complex medical topics accessible to both professionals and laypeople";
    private string ImageUrl = "/stefmancia/img/profile.jpg";
}